h1 {
  font-family: Helvitica;
  font-size: 100px;
  font-weight: bold;
  color: khaki
}

h1 {
  text-align: center;
}

.pattern {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  background-size: cover;
  background-position: center;
  height: 160px;
  width:1300px;
}

.brushes {
  background-color: mediumspringgreen;
  font-family: Helvitica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.frames {
  background-color: lightcoral;
  font-family: Helvitica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.paint {
  background-color: skyblue;
  font-family: Helvitica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.price {
  font-family: Helvitica;
  font-weight: bold
  color: blue;
}
